
<nav class="navbar navbar-expand-md n" style="background-color: #32445c">
    <a class="navbar-brand nav-link" href="#" routerLink="pedidos" style="margin-left: 20px">
        <img src="assets/logo-lol.png" alt="Logo" style="width: 45px; height: 45px;">
    </a>
    <div class="navbar-collapse collapsed" id="navbarContent">
        <ul class="navbar-nav navbar-links ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="pedido">Pedido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="consulta-pedido">Consultar Pedido</a>
            </li>
        </ul>
    </div>
</nav>
