.amarelo {
background-color: yellow;
}

.vermelho {
background-color: red;
}

.cinza {
background-color: gray;
}

.azul {
background-color: blue;
}

.laranja {
    background-color: orange;
}

.verde {
    background-color: green;
}

.roxo {
    background-color: purple;
}

.dtInput {
    margin: 5px;
    border-radius: 4px;
}

.dtLabel{
    margin-left: 30px;
}

.filter{
    width: 40%;
    margin-left: 30px;
}

.btn-filter{
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    display: inline-block;
}