body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  #container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  select {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
  }

  input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }

  .delete-button {
    background-image: url("C:/Users/Rodri/OneDrive/Imagens/icone-excluir.png");
    background-size: 20px;
    background-color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  #areaExcluir {
    width: 20px;
  }

  button:hover {
    background-color: #0056b3;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  .colunaQntd {
    width: 100px;
  }

  .result {
    margin-top: 20px;
  }