  <div id="container">
    <h1>Pedido On-line</h1>
    <p>
      <label for="roupa">Roupa:</label>
      <select id="roupa" #descrRoupa>
        <option value="Camiseta">Camiseta</option>
        <option value="Calça">Calça</option>
        <option value="Blusa">Blusa</option>
        <option value="Bermuda">Bermuda</option>
        <option value="Vestido">Vestido</option>
        <option value="Meia">Meia</option>
        <option value="Toalha">Toalha</option>
      </select>
      <label for="qntd" style="margin-bottom: 0px">Quantidade:</label>
      <input type="number" id="qntd" #quantidade min="1" max="100" value="1">
      <button id="addRoupa" (click)="inserirRoupa(descrRoupa.value, quantidade.value)">Inserir</button>
    </p>
    <table id="tabela">
      <thead>
        <tr>
          <th>Peça</th>
          <th class="colunaQntd">Quantidade</th>
          <th id="areaExcluir"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roupa of tabela">
          <td>{{ roupa.roupa }}</td>
          <td>{{ roupa.quantidade }}</td>
        </tr>
      </tbody>
    </table>
    <button id="cadastrar" (click)="cadastrarPedido()">Cadastrar pedido</button>
    <div class="result" *ngIf="exibir">
      <p>
        <label for="total">Valor total:</label>
        <span id="total">{{ total }}</span>
      </p>
      <p>
        <label for="dias">Tempo estimado:</label>
        <span id="dias">{{ tempo }}</span>
      </p>
    </div>
    <div class="botoes">
      <button id="aprovar" (click)="aprovarPedido()">Aprovar</button>
      <!--<div class="cancelar"> removido para deixar os botoes lado a lado-->
        <button id="cancelar">Cancelar</button>
      <!--</div>-->
    </div>
  </div>
